.search-result {
    display: flex;
    margin-top: 1rem;
}

.business-img {
    border-radius: 4px;
    margin-right: 1rem;
}

.business-info {
    min-width: 400px;
}

.contact-info p {
    font-size: .85rem;
}